@font-face {
  font-family: 'Neue Montreal';
  src: local('Neue Montreal'),
    url('../../fonts/NeueMontreal-Medium.otf') format('opentype');
  font-weight: 500;
}
@font-face {
  font-family: 'Neue Montreal';
  src: local('Neue Montreal'),
    url('../../fonts/NeueMontreal-Regular.otf') format('opentype');
  font-weight: 400;
}

body {
  background-color: #e8e8e2;
  font-family: 'Neue Montreal';
  font-weight: 400;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
