.container {
  max-width: 367px;
  margin: 0 auto;
  padding: 0 16px;
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 736px;
  }
}
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1272px;
  }
}
