/* Variables */
:root {
  /* Colors */
  --grey: rgba(1, 1, 1, 0.7);
  --black: #010101;
  --light-grey: #e8e8e2;
  --cancel-grey: rgba(1, 1, 1, 0.07);
  --tagline-grey: rgba(1, 1, 1, 0.8);
  --green: #6d8434;
  --green-accent: #586f1f;
  --card-fields: rgba(1, 1, 1, 0.3);
  --card-background: #fafafa;
  --footer-color: rgba(232, 232, 226, 0.7);
}
