.products {
  display: flex;
  padding-bottom: 80px;
  padding-top: 40px;
}
.products__list {
  display: grid;
  grid-template-columns: 1fr;
  /* flex-direction: column; */
  gap: 20px;
}
.products__item {
  max-width: 335px;
  padding: 20;
  background-color: var(--card-background);
  border-radius: 20px;
}

.products__item-inner {
  width: 295px;
  height: 178px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-grey);
  border-radius: 10px;
}

.products__item-img {
  border-radius: 10px;
  width: 140px;
  height: 140px;
}
.products__item-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;

  color: var(--black);
  margin-top: 20px;
}
.products__item-wrapper {
  display: flex;
}
.products__item-info {
  margin-top: 10px;

  display: flex;
  align-items: center;
}

.products__item-label,
.products__item-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17; /* 116.667% */
}
.products__item-label:first-child {
  margin-left: 0;
}
.products__item-label {
  margin-left: 8px;
  color: rgba(1, 1, 1, 0.3);
}

.products__item-text {
  text-wrap: nowrap;
  margin-left: 2px;
  color: var(--black);
}
.products__item-buy {
  margin-top: 40px;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.products__item-link {
  border: none;
  cursor: pointer;
  outline: transparent;
  background-color: var(--green);
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.products__item-price {
  color: var(--black);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11; /* 111.111% */
}

.popular__title {
  margin-top: 80px;
  color: var(--black);
  font-family: Neue Montreal;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 116.667% */
}
.popular__list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.popular__item {
  border-radius: 10px;

  display: flex;
  max-width: 335px;
  padding: 12px;
  background-color: var(--card-background);
}
.popular__item-inner {
  width: 74px;
  height: 74px;
  background-color: var(--light-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border-radius: 10px;
}
.popular__item-img {
  width: 56px;
  height: 56px;
  object-fit: cover;
  background-color: var(--card-background);
  border-radius: 10px;
}
.popular__item-buy {
  display: flex;
  justify-content: space-between;
}

.popular__item-title {
  color: var(--black);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11; /* 111.111% */
}
.popular__item-link {
  width: 20px;
  height: 20px;

  background-color: var(--light-grey);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.popular__item-svg {
  fill: var(--green);
}
.popular__item-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 73%;
}

.popular__item-info {
  margin-top: 12px;

  display: flex;
  flex-direction: column;
}

.popular__item-label,
.popular__item-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17; /* 116.667% */
}

.popular__item-label {
  color: rgba(1, 1, 1, 0.3);
}
.popular__item-text {
  margin-left: 4px;
}
.popular__item-info-top {
  display: flex;
}
.popular__item-info-bottom {
  display: flex;
  margin-top: 9px;
}
.popular__item-info-bottom .popular__item-label:not(:first-child) {
  margin-left: 9px;
}

.discount__list {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  height: 484px;
  overflow: auto;
}

.discount__list::-webkit-scrollbar {
  width: 9px;
  background: transparent;
}

.discount__list::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: rgba(1, 1, 1, 0.08);
}

.discount__item {
  max-width: 335px;
  padding: 16px;
  background-color: var(--card-background);
  display: flex;
  flex-direction: column;
  border-radius: 15px;

  position: relative;
}
.discount__item-wrapper {
  width: 304px;
  height: 150px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--light-grey);
  border-radius: 10px;
}
.discount__item-img {
  width: 114px;
  height: 114px;
  object-fit: cover;
  border-radius: 10px;
}
.discount__item-svg {
  position: absolute;
  right: 10px;
  top: 5px;
}

.discount__item-buy {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.discount__item-label,
.discount__item-price {
  font-size: 18px;

  font-weight: 500;
  line-height: 1.11; /* 111.111% */
}
.discount__item-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.discount__item-link {
  background-color: var(--green);
  width: 34px;
  height: 34px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 8px;
}
.discount__item-cartsvg {
  fill: var(--light-grey);
}
@media only screen and (max-width: 375px) {
  .products__item {
    max-width: 280px;
  }
  .products__item-inner {
    width: 100%;
  }
  .popular__item {
    max-width: 280px;
  }
  .discount__item {
    max-width: 280px;
  }
  .discount__item-wrapper {
    width: 100%;
  }
  .products__item-label {
    font-size: 11px;
  }
}
@media only screen and (min-width: 768px) {
  .products__list {
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }
  .products__item-title,
  .products__item-price {
    font-size: 20px;
    line-height: 1.2;
  }
  .products__item-img {
    max-width: 296px;
    max-height: 178px;
    object-fit: cover;
  }

  .popular__list {
    flex-direction: row;
    overflow: auto;
  }
  .popular__item {
    width: 275px;
    min-width: 275px;
  }

  .discount__list {
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    flex-direction: row;
    max-height: 232px;
    overflow: auto;
  }
  .discount__item {
    max-width: 336px;
  }
}

@media only screen and (min-width: 1272px) {
  .products__inner {
    display: flex;
    align-items: flex-start;
  }
  .products__list {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 40px;
    column-gap: 20px;
  }
  .products__item-info > .products__item-label {
    margin-left: 0;
  }
  .products__item-wrapper {
    margin-bottom: 9px;
  }
  .products__item {
    max-width: 295px;
  }
  .products__item-inner {
    width: 255px;
  }
  .products__item-title {
    font-size: 17px;
  }
  .products__item-img {
    max-width: 255px;
    max-height: 178px;
  }
  .products__item-buy {
    margin-top: 30px;
  }
  .products__item-info {
    max-width: 198px;
    flex-wrap: wrap;
  }
  .popular__list {
    flex-direction: column;
  }
  .discount__list {
    display: grid;
    grid-template-columns: 1fr;
    max-height: 484px;
    overflow-y: scroll;
  }
  .products__box {
    margin-left: 40px;
  }
  .products__item {
    height: 363px;
    /* width: calc((100% - 40px) / 3); */
  }
  .popular__title {
    margin-top: 0;
  }
  .popular__item {
    width: 100%;
  }
  .discount__title {
    margin-top: 40px;
  }
  .discount__item-wrapper {
    width: 243px;
  }
  .discount__item-img {
    width: 105px;
    height: 105px;
  }
}
