<h4 class="filters-title">Filters:</h4>
<form name="filters" class="filters__form">
  <!-- <h4 class="filters-title">Filters:</h4> -->
  <div class="search">
    <input
      class="search-input"
      type="text"
      name="search-input"
      placeholder="Search for anything"
      autofocus
    />
    <button class="search-submit" type="submit">
      <svg class="search-icon" width="20" height="20">
        <use href="./images/icons.svg#icon-search"></use>
      </svg>
    </button>
  </div>
  <select class="category-choice">
    <option value="">Show All</option>
  </select>
  <select class="sort-by">
    <option value="atoz">A to Z</option>
    <option value="ztoa">Z to A</option>
    <option value="priceup">Price Up</option>
    <option value="pricedown">Price Down</option>
    <option value="popularityup">Popularity Up</option>
    <option value="popularitydown">Popularity Down</option>
  </select>
</form>
