<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">

      <div class="footer-social">
        <div class="footer-homepage">
          <a href="#" class="footer-homepage__link">
            <svg class="footer-social__logo">
              <use href="./images/icons.svg#icon-logo_light_big"></use> 
            </svg>
          </a>
        </div>

          <ul class="footer-social__list">
            <li>
              <a
                href="https://www.facebook.com/goITclub/"
                class="footer-social__link"
              >
                <svg class="footer-social__icon">
                  <use
                    href="./images/icons.svg#icon-social_facebook"
                  ></use></svg
              ></a>
            </li>
            <li>
              <a
                href="https://www.instagram.com/goitclub/"
                class="footer-social__link"
              >
                <svg class="footer-social__icon">
                  <use href="./images/icons.svg#icon-social_instagram"></use></svg
              ></a>
            </li>
            <li>
              <a
                href="https://www.youtube.com/c/GoIT"
                class="footer-social__link"
              >
                <svg class="footer-social__icon">
                  <use href="./images/icons.svg#icon-social_you_tube"></use></svg
              ></a>
            </li>
          </ul>
        
      </div>

        <div class="footer-info">
          <p class="fotter-info__variety">
            Discover the Variety of Flavors and Quality
          </p>
          <p class="fotter-info__description">
            An online store where you will find fresh, natural and delicious
            products for a healthy life and unforgettable gastronomic
            adventures.
          </p>
        </div>

        <div class="footer-form">
          <p class="footer-form__text">
            Subscribe and learn about new products!
          </p>
          <input
            type="email"
            name="user-email"
            class="fotter-info__input"
            id="user-email"
            placeholder="Email"
          />
          <button type="submit" class="footer-form__button">
            <p class="footer-form__button-text">Send</p>
          </button>
        </div>
      
    </div>

    <div class="footer-cop__wrapper">
      <p class="footer-cop__copyright">Food Boutique. All rights reserved.</p>
      <p class="footer-cop__copyright">Privacy Policy / Terms of Service</p>
    </div>
  </div>
</footer>
