<footer class="footer">
  <div class="container">
    <div class="footer__wrapper-mob">
      <div class="footer__wrapper">
        <div class="footer-social">
          <div class="footer-homepage">
            <a href="#" aria-label="homepage" class="footer-homepage__link">
              <svg class="footer-social__logo">
                <use href="./images/icons.svg#icon-logo_light_big"></use>
              </svg>
            </a>
          </div>

          <ul class="footer-social__list asd">
            <li>
              <a
                href="https://www.facebook.com/goITclub/"
                class="footer-social__link"
                target="_blank"
                aria-label="facebook"
                rel="noopener noreferrer"
              >
                <svg class="footer-social__icon">
                  <use
                    href="./images/icons.svg#icon-social_facebook"
                  ></use></svg
              ></a>
            </li>
            <li>
              <a
                href="https://www.instagram.com/goitclub/"
                class="footer-social__link"
                target="_blank"
                aria-label="instagram"
                rel="noopener noreferrer"
              >
                <svg class="footer-social__icon">
                  <use
                    href="./images/icons.svg#icon-social_instagram"
                  ></use></svg
              ></a>
            </li>
            <li>
              <a
                href="https://www.youtube.com/c/GoIT"
                class="footer-social__link"
                target="_blank"
                aria-label="youtube"
                rel="noopener noreferrer"
              >
                <svg class="footer-social__icon">
                  <use
                    href="./images/icons.svg#icon-social_you_tube"
                  ></use></svg
              ></a>
            </li>
          </ul>
        </div>

        <div class="footer-tablet">
          <div class="footer-info">
            <p class="fotter-info__variety">
              Discover the Variety of Flavors and Quality
            </p>
            <p class="fotter-info__description">
              An online store where you will find fresh, natural and delicious
              products for a healthy life and unforgettable gastronomic
              adventures.
            </p>
          </div>

          <form class="footer-form">
            <p class="footer-form__text">
              Subscribe and learn about new products!
            </p>
            <input
              required
              title="a-z@a-z.com"
              pattern="[a-z0-9._%+\-]{2,}@[a-z0-9.\-]+\.[a-z]{2,}"
              type="email"
              name="email"
              class="fotter-info__input"
              id="email"
              placeholder="Email"
            />
            <button
              type="submit"
              class="footer-form__button footer-form__button-text"
              aria-label="search-button submit"
            >
              Send
            </button>
          </form>
        </div>
      </div>

      <div class="footer-cop__wrapper">
        <a href="#" aria-label="link" class="footer-cop__copyright"
          >Food Boutique. All rights reserved.</a
        >
        <a href="#" aria-label="link" class="footer-cop__copyright">
          Privacy Policy &nbsp; / &nbsp; Terms of Service
        </a>
      </div>
    </div>
  </div>
</footer>
