<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">

<div class="footer-social">

  <a href="#">
    <svg class="footer-social__logo">
      <use href="#"></use>
    </svg>
    <p class="footer-social__text">Food Boutique</p>
  </a>


  <ul class="footer-social__links">
    <li><a href="https://www.facebook.com/goITclub/" class="footer-social__face">
      <svg class="footer-social__logo">
      <use href="#"></use>
    </svg></a></li>
    <li><a href="https://www.instagram.com/goitclub/" class="footer-social__face">
      <svg class="footer-social__logo">
      <use href="#"></use>
    </svg></a></li>
    <li><a href="https://www.youtube.com/c/GoIT" class="footer-social__face">
      <svg class="footer-social__logo">
      <use href="#"></use>
    </svg></a></li> 
  </ul>


<div class="footer-info">
  <p class="fotter-info__variety">Discover the Variety of Flavors and Quality</p>
  <p class="fotter-info__description">An online store where you will find fresh, natural and delicious products for a healthy life and unforgettable gastronomic adventures.</p>
</div>


<div class="footer-form">
  <p class="footer-form__text">Subscribe and learn about new products!</p>
  <input type="email" name="user-email" class="fotter-info__input" id="user-email" placeholder="Email">
  <button type="submit" class="footer-form__button">Send</button>
</div>
</div>

    <div class="footer-cop__wrapper">
      <div class="footer-cop__rights">Food Boutique. All rights reserved.</div>
      <div class="footer-cop__terms">Privacy Policy / Terms of Service</div>
    </div>
    
  </div>
</div></footer>