<header class="header">
  <div class="container container-header">
    <a class="css-a-link-icon" href="./index.html" aria-label="logo link">
      <div class="css-div-icon-header">
        <svg class="css-svg-logo" width="16" height="16">
          <use href="./images/icons.svg#icon-header-logo"></use>
        </svg>
      </div>
      <svg class="css-svg-logo-text" width="118" height="20">
        <use href="./images/icons.svg#icon-Food-mobile-Boutique"></use>
      </svg>
    </a>
    <div class="css-div-casa-header">
      <a class="css-link-home" aria-label="home" href="./index.html">Home</a>

      <a class="css-link-casa" aria-label="cart" href="./cart.html">
        <div class="css-link-casa-icon">
          <svg class="css-svg-casa" width="14" height="14">
            <use href="./images/icons.svg#icon-header_shopping-cart"></use>
          </svg>
        </div>
        <span class="css-span-casa">Cart (3)</span>
      </a>
    </div>
  </div>
</header>
