<section class="hero">
  <h1 class="hero-title">
    Welcome to the <span class="hero-title-span">Food </span>Boutique!
  </h1>
  <p class="hero-text">
    With Food Boutique, you're not just subscribing to food, you're signing up
    for a fresher, fitter, and happier you.
  </p>
  <div class="hero-picture">
    <picture class="hero-img">
      <source
        media="(max-width: 767px)"
        srcset="
          /src/images/hero/hero_mobile.webp    1x,
          /src/images/hero/hero_mobile@2x.webp 2x
        "
      />
      <source
        media="(max-width: 1271px)"
        srcset="
          /src/images/hero/hero_tab.webp    1x,
          /src/images/hero/hero_tab@2x.webp 2x
        "
      />
      <source
        media="(min-width: 1272px)"
        srcset="
          /src/images/hero/hero_desk.webp    1x,
          /src/images/hero/hero_desk@2x.webp 2x
        "
      />
      <img src="/src//images/hero/hero_mobile.webp" alt="Bascket with food" />
    </picture>
    <svg class="hero-icon" width="100px" height="100px">
      <use href="/src/images/icons.svg#icon-organic-food"></use>
    </svg>
  </div>
</section>
