<section class="products">
  <div class="container">
    <div class="filters">
      <include src="./partials/filters.html"></include>
    </div>
    <h2 class="visually-hidden">PRODUCTS</h2>
    <div class="products__inner">
      <div class="pagination__wrapper">
        <ul class="products__list"></ul>
        <include src="./partials/pagination.html"></include>
      </div>

      <div class="products__box">
        <h3 class="popular__title">Popular products</h3>
        <ul class="popular__list"></ul>
        <h3 class="popular__title discount__title">Discount products</h3>
        <ul class="discount__list"></ul>
      </div>
    </div>
  </div>
</section>
