@import './base/common.css';
@import './base/container.css';
@import './utils/variables.css';
@import './layouts/header.css';
@import './layouts/footer.css';




h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* 
*{
    box-sizing: border-box;
} */

.container{
    padding: 0  20px 80px;
}



.section-header{
    color: #010101;
    font-family: Neue Montreal;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.16; 
    text-transform: uppercase;
}


.heading-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;

    
    margin-bottom: 17px;
}

.delete-button{
    font-family: Neue Montreal;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.28'
}

.product-list-container{
    position: relative;
}

.button-wrapper{
    /* position:absolute;
    right: 0;
    top: 0; */

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    gap: 8px;
    margin-bottom: 14px;
}

.delete-button{
    background-color: transparent;
    border:none;
}

.product-list{
    display: flex;
    flex-direction: column;
    overflow: auto;

    padding-bottom: 80px;
}

.product-item{
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 30px 0;
    max-height: 100px;
}

.product-item:not(:last-child){
    border-bottom: 1px solid rgba(1, 1, 1, 0.10);
}

.charactetistic-text-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

.close-button{
    position: absolute;
    right: 7px;
    top: 22px;
    z-index: 1;

    background-color: transparent;
    border: none;
    width: 18px;
    height: 18px;

}

.product-item-img{
    /* width: 100%; */
    height: 100%;
    border-radius: 10px;
}

.product-bold{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.11;
}

.product-item-heading{
    padding-bottom:10px;
}

.key-span{
    color: rgba(1, 1, 1, 0.30);
    font-size: 12px;
    line-height: 1.16;
}

.product-item-text{
    font-size: 12px;
    line-height: 1.16;
}

.product-item-content{
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* position:relative; */

    /*change to justify*/
    gap:20px;
}

.order-total-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.order-total-container .section-header{
    padding-bottom: 40px;
}

.total-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width:100%;
    /* width: 335px; */
    box-sizing: border-box;

    padding: 18px;
    margin-bottom: 30px;
    border-radius: 8px;
    background: rgba(109, 132, 52, 0.05);
}

.price-text{
    font-size: 24px;
    font-weight:1.16;

}

.product-price{
    /* position: absolute;
    left: 0;
    bottom: 0; */
}

.total-number{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 4px;
}

.order-input{
    width: 100%; 
    max-width: 335px;
    padding:  12px 20px 12px 50px;
    margin-bottom: 14px;
    border-radius: 30px;
    background-color: transparent;
    border: 1px solid rgba(1, 1, 1, 0.30);

    box-sizing: border-box;
}

.input-wrapper{
    position: relative;
}

.order-input::placeholder{
    font-size: 14px;
    line-height: 1.28;

    color: #010101;
}

.placeholder-span{
    position: absolute;
    top: 11.5px;
    left: 15px;
    color: rgba(1, 1, 1, 0.50);
    font-size: 14px;
    font-weight: 400;
    line-height:1.28;
}

.order-submit{
    border-radius: 30px;
    background: #6D8434;
    color: #E8E8E2;
    border: none;
    font-size: 14px;
    font-weight: 500;
    line-height:1.28;
    padding: 12px;

    width: 100%;
    max-width: 335px;

}

.cart-icon{
    padding: 10px;
    border-radius: 30px;
    background: #6D8434;
}

.warning-conatiner{
    display: block;
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    .container{
        max-width: 672px;
    }

    .heading-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 14px;
        margin-bottom: 26px;
    }
    
    .cart-header{
        color: #010101;
        font-size: 32px;
        font-weight: 500;
        line-height: 1;
        text-transform: uppercase;
    }

    .delete-button{
        color: #010101;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.25;
    }
    .product-list{
        padding-bottom: 100px;
    }
    .product-item{
        gap: 40px;
        padding: 40px 0; 
    }

    .product-bold{
        font-size: 20px;
        line-height: 1.2;
    }

    .product-item-text, .key-span{
        font-size: 14px;
        line-height: 1.28;
    }

    .product-price{
        font-size: 20px;
        line-height: 1.2;
    }

    .form-wrapper{
        display: flex;
        flex-direction: row;
        gap: 16px;
    }
    .order-total-container{
        max-width: 590px;
    }

    .order-input{  
        font-size: 18px;
        line-height: 24px; 
        padding:  15px 20px 15px 61px;
        width: 359px;
    }

    .order-submit{  
        width: 215px;
        height: 54px;
    }

    .total-container{
        padding: 22px 28px 14px;
    }

    .price-text{
        font-size: 32px;
        font-weight: 500;
        line-height: 1;
    }

    .order-input::placeholder{
        font-size: 18px;
        line-height: 1.33
    }

    .placeholder-span {
        top: 14.5px;
        left: 19px;
        font-size: 18px;
        line-height: 1.33;
    }

}

@media only screen and (min-width: 1272px) {
    .section-wrapper .container{
        
        max-width: 1240px;
    }

    .product-list-container{
        width: 500px;
        height: 520px;
    }

    .section-wrapper .container .content-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 101px;
    } 

    .order-total-container {
        justify-content: flex-start;
    }

    .product-list{
        height: 240px;
        overflow: auto;
    }
}